h1 {
  color: linear-gradient(to right ,red,green,blue,pink,yellow,purple);
  /* 3. Lệnh chạy hoạt hình: Tên là "mauChay", chạy trong 15 giây, lặp vô tận (infinite) */
  animation: mauchay 15s ease infinite;
  /* Đảm bảo nền phủ kín màn hình */
  height: 100 vh;
  margin:0;
  
}
h2 {
  color:red;
}
body {
  background: linear-gradient(to right ,red,green,blue,pink);
    /* 2. Phóng to nền lên 400% để có chỗ cho nó di chuyển */
    background-size: 400% 400%;
    
    /* 3. Lệnh chạy hoạt hình: Tên là "mauChay", chạy trong 15 giây, lặp vô tận (infinite) */
    animation: mauChay 15s ease infinite;
    
    /* Đảm bảo nền phủ kín màn hình */
    height: 100vh;
    margin: 0;
}

/* 4. Viết kịch bản di chuyển (Keyframes) */
@keyframes mauChay {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
}
h3 {
  color:green;
} 
